<!DOCTYPE html>
<html lang="en">
  <head>
    <title>${title}</title>
    <link rel="stylesheet" type="text/css" href="/stylesheets/style.css">
    <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Open+Sans">
  	<link rel="stylesheet" type="text/css" href="/stylesheets/font-awesome.css">
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
  	<script type="text/javascript" src="/socket.io/socket.io.js"></script>
  	<script type="text/javascript" src="/javascripts/app.js"></script>
  	<script type="text/javascript" src="/javascripts/youtube.js"></script>
  </head>
  <body>
    {{html body}}
  </body>
</html>