{{layout "layout"}}

<div id="wrapper">
	
	<h1>${title}</h1>

	<div id="share">
		<input type="text" id="link" value="${link}" />
		<div id="share_btn">share</div>
	</div>

	<!-- VIDEO PLAYER / OPTIONS CONTAINER -->
	<div id="video">

		<!-- YOUTUBE EMBED -->
		<div id="player" data-youtube="${youtubeId}"></div>

	</div>

</div>

<!-- CHAT WINDOW -->
<div id="chat">
	<input type="text" id="comment" placeholder="Type something...">
	<i class="icon-chevron-right"></i>
	<ul id="icons">
		<li><i class="icon-glass"></i></li>
		<li><i class="icon-heart"></i></li>
		<li><i class="icon-star-empty"></i></li>
		<li><i class="icon-ok"></i></li>
		<li><i class="icon-remove"></i></li>
		<li><i class="icon-trash"></i></li>
		<li><i class="icon-time"></i></li>
		<li><i class="icon-repeat"></i></li>
		<li><i class="icon-volume-up"></i></li>
		<li><i class="icon-pause"></i></li>
		<li><i class="icon-play"></i></li>
		<li><i class="icon-fire"></i></li>
		<div class="clear"></div>
	</ul>
</div>
